<ion-content>

  <!-- <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu> -->
  {{data}}
  <div *ngIf="data">
    <div *ngFor="let item of data">
      <h3>{{ item.title }}</h3>
      <p>{{ item.body }}</p>
    </div>
  </div>
  <div *ngIf="!data">
    Loading data...
  </div>
  <div class="ion-page" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          ion-
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-menu-button></ion-menu-button>

        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
  </div>
</ion-content> 
<ion-header>
  <ion-toolbar>
    <ion-title>Inline Toast</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="main-content">
  <ion-button id="open-toast" expand="block">Open</ion-button>
  <p id="message">This toast example uses triggers to automatically open a toast when the button is clicked.</p>
  <ion-toast trigger="open-toast" message="This toast will disappear after 5 seconds" [duration]="5000"></ion-toast>
</ion-content>
<ion-content class="ion-padding">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <p>Pull this content down to trigger the refresh.</p>
  <ion-list>
    <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
    <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
    <!-- <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <ion-item>
        <ion-label> Item 1 </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
  
      <ion-item>
        <ion-label> Item 2 </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
  
      <ion-item>
        <ion-label> Item 3 </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
  
      <ion-item>
        <ion-label> Item 4 </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
  
      <ion-item>
        <ion-label> Item 5 </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group> -->
  </ion-list>
  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>Default</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Segment</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <ion-segment [disabled]="true" value="disabled">
    <ion-segment-button value="disabled">
      <ion-label>Disabled</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Segment</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
<ion-content>
  
<!-- <ion-accordion-group (ionChange)="accordionGroupChange($event)">
<ion-accordion value="first">
  <ion-item slot="header" color="light">
    <ion-label>First Accordion</ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">First Content</div>
</ion-accordion>
<ion-accordion value="second">
  <ion-item slot="header" color="light">
    <ion-label>Second Accordion</ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">Second Content</div>
</ion-accordion>
<ion-accordion value="third">
  <ion-item slot="header" color="light">
    <ion-label>Third Accordion</ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">Third Content</div>
</ion-accordion>
</ion-accordion-group> -->

<ion-button id="present-alert">Click Me</ion-button>
<!-- <ion-alert
trigger="present-alert"
header="A Short Title Is Best"
subHeader="A Sub Header Is Optional"
message="A message should be a short, complete sentence."
[buttons]="alertButtons"
></ion-alert> -->
<ion-list>
<ion-item>
  <ion-label>Followers</ion-label>
  <ion-badge color="primary">22k</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Likes</ion-label>
  <ion-badge color="secondary">118k</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Stars</ion-label>
  <ion-badge color="tertiary">34k</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Completed</ion-label>
  <ion-badge color="success">80</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Warnings</ion-label>
  <ion-badge color="warning">70</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Notifications</ion-label>
  <ion-badge color="danger">1000</ion-badge>
</ion-item>
</ion-list>
<ion-label>Icons at Start</ion-label>
<ion-breadcrumbs>
<ion-breadcrumb href="#home">
  <ion-icon slot="start" name="home"></ion-icon>
  Home
</ion-breadcrumb>
<ion-breadcrumb href="#electronics">
  <ion-icon slot="start" name="flash"></ion-icon>
  Electronics
</ion-breadcrumb>
<ion-breadcrumb href="#cameras">
  <ion-icon slot="start" name="camera"></ion-icon>
  Cameras
</ion-breadcrumb>
<ion-breadcrumb href="#film">
  <ion-icon slot="start" name="film"></ion-icon>
  Film
</ion-breadcrumb>
</ion-breadcrumbs>

<ion-label class="ion-margin-top">Icons at End</ion-label>
<ion-breadcrumbs>
<ion-breadcrumb href="#home">
  Home
  <ion-icon slot="end" name="home"></ion-icon>
</ion-breadcrumb>
<ion-breadcrumb href="#electronics">
  Electronics
  <ion-icon slot="end" name="flash"></ion-icon>
</ion-breadcrumb>
<ion-breadcrumb href="#cameras">
  Cameras
  <ion-icon slot="end" name="camera"></ion-icon>
</ion-breadcrumb>
<ion-breadcrumb href="#film">
  Film
  <ion-icon slot="end" name="film"></ion-icon>
</ion-breadcrumb>
</ion-breadcrumbs>
<ion-card>
<img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
<ion-card-header>
  <ion-card-title>Card Title</ion-card-title>
  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
</ion-card-header>

<ion-card-content>
  Here's a small text description for the card content. Nothing more, nothing less.
</ion-card-content>
</ion-card>
<ion-datetime></ion-datetime>
<ion-avatar>
<img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
</ion-avatar>
<ion-content>
<!-- <ion-list>
<ion-item *ngFor="let item of items; let index">
  <ion-avatar slot="start">
    <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
  </ion-avatar>
  <ion-label>{{ item }}</ion-label>
</ion-item>
</ion-list> -->
<!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
<ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll> -->
</ion-content>

</ion-content>
<ion-header>
<ion-toolbar>
  <ion-title>Pull to Refresh</ion-title>
</ion-toolbar>
</ion-header>