<!--<ion-item (click)="this.Prompt()"
 lines="none" button detail="false">
    <ion-label color="primary"> Forgot Password? </ion-label>
</ion-item> -->

<ion-col size="12" mode="md" (keydown.enter)="this.forgetPassword()" >

    <ion-item [formGroup]="this._GeneralService.forgetPasswordForm"  fill="outline" style="margin:5px">
      <ion-input 
      autofocus="true"
      formControlName="email"
      placeholder="Email"
      autocomplete="email"
       type="email">
      </ion-input>
      <ion-note *ngIf="this.email?.touched  && this.email.errors['email']" slot="error">
        Enter valid Email please
      </ion-note>
      <ion-note *ngIf="this.email?.touched && this.email.errors['required']" slot="error">
        Email can't be empty
      </ion-note>
    </ion-item>
  
  
    <ion-item [formGroup]="this._GeneralService.forgetPasswordForm"  fill="outline" style="margin:5px">
      <ion-input 
      formControlName="site"
      placeholder="Site"
       type="text">
      </ion-input>
      <ion-spinner *ngIf="this._GeneralService.forgetPasswordForm.status === 'PENDING'" name="bubbles" color="primary"></ion-spinner>
      
      <ion-note *ngIf="this.site.touched&& this.site.errors['required'] " slot="error">
        Site can't be empty
      </ion-note>
      <ion-note *ngIf="this._GeneralService.forgetPasswordForm.dirty && this.site.invalid && this.site.errors?.['site_not_found']" slot="error">
        Site not found
      </ion-note>
    </ion-item>
    
  </ion-col>
  
  <ion-col size="12">
    <ion-button [disabled]="this._GeneralService.forgetPasswordForm.invalid || this._GeneralService.forgetPasswordForm.status === 'PENDING'"
      style="--background:#004e82e8 ;" size="large" expand="block"
    (click)="forgetPassword()">
    Forget Password
  </ion-button> 
    <span style="display: grid; font-size: 11px; margin-left: 8px;">
      <ion-text *ngIf="this._GeneralService.forgetPasswordForm.invalid && this._GeneralService.forgetPasswordForm.get('site').hasError('unknown_error')" color="danger"><ion-icon name="warning"></ion-icon>
        Contact Support team and retry please.
      </ion-text>
  
      <ion-text *ngIf="this._GeneralService.errorMsg" color="danger"><ion-icon name="warning"></ion-icon>
        {{this._GeneralService.errorMsg}}
      </ion-text>
    </span>
  </ion-col>